{% extends "base.html" %}
{% block title %}Edit Task{% endblock title %}

{% block body %}
<h3>Edit Task</h3>
   <div class="container">
      <form method = "POST">
         {% csrf_token %}
         <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Title</label>
            <input type="text" class="form-control" value = {{task.title}} name="title" aria-describedby="emailHelp">
         </div>

         <div class="form-floating mb-3">
            <textarea class="form-control" placeholder="Leave a comment here" name = "description" id="description"></textarea>
            <label for="floatingTextarea">{{task.description}}</label>
         </div>

         <button type="submit" class="btn btn-primary">Submit</button>
      </form>
   </div>
{% endblock body %}

